<h1>Week 11 - Sunday 18 March 2018</h1>

<!-- TODO: MAKE it localhost:4200/schema?room=Ay-->
<nav mat-tab-nav-bar class="demo-tab-group">
  <a mat-tab-link
     *ngFor="let room of rooms"
     [routerLink]="['/schema', 'room', room.id]">
    {{room.name}}
  </a>

  <!-- TODO: These should be activated with routes. This is not the desired way -->

  <!--<mat-tab label="Room B">-->
    <!--<app-table [room]="'B'"-->
               <!--[machine]="['B1', 'B2']"-->
               <!--[machineType]="'Laundrymachine'"></app-table>-->
    <!--<app-table [room]="'B'"-->
               <!--[machine]="['B3', 'B4']"-->
               <!--[machineType]="'Dryer'"></app-table>-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Room C">-->
    <!--<app-table [room]="'C'"-->
               <!--[machine]="['C1', 'C2']"-->
               <!--[machineType]="'Laundrymachine'"></app-table>-->
    <!--<app-table [room]="'C'"-->
               <!--[machine]="['C3', 'C4']"-->
               <!--[machineType]="'Dryer'"></app-table>-->
  <!--</mat-tab>-->
</nav>

<router-outlet></router-outlet>
<!--<app-table [room]="'A'"-->
<!--[machine]="['A1', 'A2']"-->
<!--[machineType]="'Laundrymachine'"></app-table>-->
<!--<app-table [room]="'A'"-->
<!--[machine]="['A3', 'A4']"-->
<!--[machineType]="'Dryer'"></app-table>-->
