/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px !important;
}

td {
  padding-right: 80px !important;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

#loginForm {
  display: inline-block;
}
#loginForm button {
  margin-left: 12px;
  margin-right: 10px
}
#login_information {
  float: left;
  margin: 13px 20px 0 0;
  color: #ffffff;
}
#logoutForm {
  float: right;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
#bodyTitle {
  width: 400px;
  border-bottom: 2px solid #b7b7b7;
  margin-bottom: 20px;
}
#bodyTitle h2 {
  margin-bottom: 1px;
}


.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}



/************************************* CUSTOMIZED FOR WAS APP *********************************************/
input {
  margin-left: 12px;
}

.mainTitle {
  color: #fff !important;
}

.dashBoard_boldness {
  height: 48px;
  vertical-align: center;
  font-size: 18px;
}
.dashBoard_margin {
  margin-bottom: 7px;
}



.modal-backdrop {
  opacity:0 !important;
}

.inputSpread div div select {
  margin-top: 6px !important;
}
.inputSpread div div input {
  margin-top: 6px !important;
}
.inputSpread div div h5 {
  margin-top: 18px !important;
}


.modal-header {
  padding: 10px;
  background-color: #DDD;
  border-bottom: 2px solid #b7b7b7; 
}
.modal-header button {
  margin-top: 10px !important;
}


#testingShowDiv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 135, 194); /*Fallback for webbrowsers that dont support RGBa*/
  background-color: rgba(31, 135, 194, 0.8); /*If you enter 1 the p is still showing  display: none;*/
}
#center_h4 {
  font-size: 26px;
  text-align: center;
  margin-top: 15px;
}
#registerForm .modal-header button {
  margin-top: 17px !important;
}
#registerForm button {
  margin: 20px 5px;
}
#registerForm .modal-footer {
  padding: 0 102px 0 0;
}
#registerForm input {
  margin-top: 6px;
}


/*Progress BAR*/
.progress {
  margin-bottom: 0 !important;
  width: 80% !important;
  height: 20px !important;
}
div[class*="progress-bar"] {
  box-shadow: none !important;
}
div[class*="progress-bar-default"] {
  background-color: #ecf0f1;
}
.progress-bar span {
  text-align: center;
  vertical-align: middle !important;
  line-height: 20px;  
}
td {
  padding-right: 25px !important;
}
th {
  width: 100px !important;
}
#timeHeader {
  width: 40px !important;
}

.coverProgressNumber {
  color: #ECF0F1;	
}

#blue {
  background-color: #6a8fa5; /*25% Saturated = #6a8fa5, normal = #3498db(gemaakt op w3school w3.css palettes)*/
  /*Veranderd op line 5180 in bootstrap file*/ 
}
#green {
background-color: #18bc9c;	
}
#yellow {
background-color: #ab8e5a; /*#ab8e5a normal = #f39c12*/
}
#red {
background-color: #e74c3c;
}



#prikbordImg {
  width: 100%;
}
.prikbord h4 {
  width: 100%;
  text-align: center;
  text-decoration: underline;
}
/*
  ************************************ TESTING SHOW DIV **************************************
#testingShowDiv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 135, 194); /*Fallback for webbrowsers that dont support RGBa
  background-color: rgba(31, 135, 194, 0.8); /*If you enter 1 the p is still showing  display: none;
}
#innerShowDiv {
  margin: 200px auto;
  background-color: #333;
  width: 400px;
  z-index: 100001;
  text-align: center;
  background-shadow: "
}
#innerShowDiv h4 {
  color: #fff;
}
#innerShowDiv .form-signin input {
  margin-bottom: 3px;
}
*******/