#login {
	
  padding-top: 40px;
  background-color: rgb(31, 135, 194); /*Fallback for webbrowsers that dont support RGBa*/
  background-color: rgba(31, 135, 194, 0.8); /*If you enter 1 the p is still showing
  backgroundcolor hex: #1f87c2*/
  color: #fff;
  /*Testing purposes*/
  width: 100%;
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-radius: 0;
}
.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/* Customized By Me */
.form-signin .form-signin-heading { /* Or body h2 {} */
  text-align: center;
  color: #fff;
}

.form-signin input {
  margin-bottom: 3px;
}