main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* only for login, registration, forgotPassword and pageNotFound*/
  background: #2c3e50;
}

mat-card {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  padding: 45px 45px 40px 45px;
  margin: 20px;
}

@media (min-width: 767px) {
  main {
    align-items: flex-start;
  }

  mat-card {
    margin-top: 10%;
  }
}

mat-card-header {
  justify-content: center;
}

mat-card-header #logo {
  width: 110px;
  margin: -15px 0 10px 0;
}

mat-form-field {
  width: 100%;
}

mat-checkbox ::ng-deep label {
  margin-top: 5px;
  color: #2C3E50;
}

div#action > button {
  width: 100%;
}

div#card_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

a.action_link {
  text-decoration: none;
  color: #2C3E50;
  font-size: 12px;
}
