# Compiled files
/target/

# IntelliJ files
\.idea/
*.iml

# Db properties
src/main/resources/production.properties

# Used for SQL generation
/src/main/java/nl/parkhaven/wasschema/SQLQuery.java
allHouseNumbersAbleToMakeAccount.txt

node_modules
*/node_modules

dist/
public/
