.alert-success {
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  position: relative;
  top: -1px;
}

.alert {
  width: 400px;
  margin: 20px auto 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
  display: none;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #FFFFFF;
  filter: alpha(opacity=20);
  opacity: .2;
  position: relative;
  top: -1px;
  text-decoration: none;
}