@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2C3E50;
}

.initial_page {
  width: 420px;
  padding: 3% 0 0;
  margin: auto;
}

#logo {
  width: 110px;
  margin: -15px 0 15px 0;
}

.initial_form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 50px;
  padding: 40px 45px 45px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.initial_form h4 {
  margin-top: 0;
}

.initial_form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #F2F2F2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.initial_form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #428BCA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.initial_form button:hover, .form button:active, .form button:focus {
  background: #428BCA;
}

.initial_form .message {
  color: #B3B3B3;
  font-size: 12px;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.initial_form .message a {
  color: #428BCA;
  text-decoration: none;
}

.initial_form #register_form {
  display: none;
}

.initial_form #forgot_password_form {
  display: none;
}

.float_left {
  margin: 10px 0 10px 20px;
  float: left;
}

.float_right {
  margin: 10px 20px 10px 0;
  float: right;
}
