<main>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <a routerLink="/login">
        <img id="logo"
             mat-card-image
             src="../../../assets/parkhaven-logo.png"
             alt="Logo">
      </a>
    </mat-card-header>

    <form [formGroup]="registrationForm"
          (ngSubmit)="onFormSubmit();">
      <mat-card-content>
        <mat-form-field>
          <input matInput
                 placeholder="Email"
                 formControlName="email"
                 type="email"/>
          <mat-error *ngIf="email.errors?.required">
            Email required.
          </mat-error>
          <mat-error *ngIf="email.errors?.email">
            Incorrect email.
          </mat-error>
        </mat-form-field>

        <div formGroupName="passwords">
          <mat-form-field>
            <input matInput
                   placeholder="Password"
                   formControlName="password"
                   type="password"/>
            <mat-error *ngIf="password.errors?.required">
              Password required.
            </mat-error>
            <mat-error *ngIf="password.errors?.minlength">
              Password needs to be at least 6 characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput
                   placeholder="Confirm Password"
                   formControlName="confirmPassword"
                   type="password"
                  [errorStateMatcher]="errorStateMatcher"/>
            <mat-error *ngIf="registrationForm.get('passwords').hasError('identical') && confirmPassword.touched">
              Passwords need to match.
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input matInput
                 placeholder="House number"
                 formControlName="houseNumber"/>
          <mat-error *ngIf="houseNumber.errors?.required">
            House number required.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <div id="action">
        <button mat-raised-button
                color="primary"
                type="submit">Sign Up
        </button>
      </div>

      <div id="card_footer">
        <a class="action_link"
           routerLink="/login">Log In</a>
      </div>
    </form>
  </mat-card>
</main>
