<mat-chip-list>
  <mat-chip disabled class="left_taken">{{machineType}} {{machineNames[0]}}</mat-chip>
  <mat-chip disabled class="right_taken">{{machineType}} {{machineNames[1]}}</mat-chip>
</mat-chip-list>

<div class="schema">
  <table>
    <div *ngIf="machines !== null">
      <tr>
        <th class="time">Time</th>
        <th>Today</th>
        <th>{{days[1] | date: 'EEEE'}}</th>
        <th>{{days[2] | date: 'EEEE'}}</th>
        <th>{{days[3] | date: 'EEEE'}}</th>
        <th>{{days[4] | date: 'EEEE'}}</th>
        <th>{{days[5] | date: 'EEEE'}}</th>
        <th>{{days[6] | date: 'EEEE'}}</th>
      </tr>
      <tr *ngFor="let t of times; let time = index">
        <td class="time">{{t}}</td>
        <td *ngFor="let day of days; let dayIndex = index">
          <app-appointment-button [appointment]=
                                    "{day: dayIndex, time: {index: time, value: t}, houseNumber: machines[0][dayIndex][time], machine: 0}"
                                  (appointmentMade)="makeOrRemoveAppointment($event)">
          </app-appointment-button>
          <app-appointment-button [appointment]=
                                    "{day: dayIndex, time: {index: time, value: t}, houseNumber: machines[1][dayIndex][time], machine: 1}"
                                  (appointmentMade)="makeOrRemoveAppointment($event)">
          </app-appointment-button>
        </td>
      </tr>
    </div>
  </table>
</div>
