:host {
  color: #2c3e50;
}

.week_and_counter_bar {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
}

/* roomA roomB roomC same color + gray background */
.mat-tab-link {
  opacity: 1;
  background-color: #f2f2f2;
}


@media (max-width: 610px) {

  h1 {
    font-size: 16px;
  }

  .week_and_counter_bar {
    margin-top: -16px;
    margin-bottom: 8px;
  }

}
