div.schema {
}

div.schema > div.laundry_table {
  margin-bottom: 12px;

  display: flex;

  overflow-x: scroll;
  overflow-y: hidden;
}

div.time_cell:nth-child(even), div.appointment_cell:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

div.appointment_cell, div.time_cell {
  border-top: 1px solid #efefef;
}

/* each time column */
div.time_column {
  min-width: 70px;
  padding: 0;
}

div.time_column_header {
  padding: 6px 25px;
  height: 19px; /* same height as the day cells */
}

div.time_cell {
  padding: 6px 25px;
  height: 25px /* same height as appointment cell*/
}

/* each day header */
div.day_column_header {
  padding: 6px 12px;
}

/* each day column */
div.day_column {
  min-width: 172px; /* (74px per appointment slot x 2) + (12px padding x 2) */
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-grow: 1; /* grows with the available space */
}

/* each day cell */
div.appointment_cell {
  padding: 6px 12px;
}

/* floating time column */
div.time_column {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
  background-color: #fafafa;
  z-index: 1;
  position: relative;
  float: left;
}

/* needed for focus line when clicking on mat-chip*/
mat-chip-list:focus {
  outline: none;
}

mat-chip-list ::ng-deep div {
  margin: 10px 0;
}
