/* doesn'time increase the width, but adds a scrollbar */
div.schema {
  overflow-x: scroll;
  overflow-y: hidden;
}

table#primary {
  text-align: left;
  border-spacing: 0;
  width: 100%;
}

#primary tr:nth-child(even) {
  background-color: #f1f1f1;
}

#primary td, #primary th {
  padding: 10px 10px;
  font-family: Roboto, sans-serif;
}

tbody {
  position: relative;
}

td {
  min-width: 148px;
}

/* otherwise the box-shadow below is visible */
tr, td {
  height: 25px;
}

tr > td:nth-child(2), tr > th:nth-child(2) {
  margin-left: 80px;
  padding-left: 100px;
}

tr > td.time, tr > th:first-child {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
}

/* give background color otherwise transparent */
tr > th:first-child {
  background-color: #fafafa;
}

/* give background color otherwise transparent */
tr:nth-child(odd) > td.time {
  background-color: #fafafa;
}

/* give background color otherwise transparent */
tr:nth-child(even) > td.time {
  background-color: #f1f1f1;
}

tr:last-child > td.time {
  box-shadow: 4px 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
}

td.time {
  min-width: 60px;
  z-index: 1;
  position: absolute;
}

/* needed for focus line when clicking on mat-chip*/
mat-chip-list:focus {
  outline: none;
}

mat-chip-list ::ng-deep div {
  margin: 10px 0;
}

/* needed for the chips */
.left_taken {
  background-color: #D1B854;
}

.right_taken {
  background-color: #5C9E93;
}

.left_taken_dryer1 {
  background-color: #D5C67A;
}

.right_taken_dryer2 {
  background-color: #5B8699;
}
