div.schema {
  overflow-x: scroll;
  overflow-y: hidden;
}

div.schema > table {
  margin-bottom: 12px;
}

table {
  border-spacing: 0;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}
tr:nth-child(odd) > td.appointment_cell {
  border-top: 1px solid #efefef;
}

/* unset border and background-color for the time and day headers */
thead> tr:nth-child(1) {
  background-color: #fafafa;
}
thead > tr:nth-child(1) > td {
  border-top: unset;
}

/* each time column */
td.time_column {
  min-width: 70px;
  padding: 0;
}

thead td.time_cell {
  padding: 6px 15px;
  height: 19px; /* same height as the day cells */
}

td.time_cell {
  padding: 6px 15px;
  height: 25px /* same height as appointment cell*/
}

td.time_column > table {
  min-height: 506px; /* same height as the day columns */
}

/* each day header */
td.day_column_header {
  padding: 6px 12px;
}

/* each day column */
td.day_column {
  min-width: 172px; /* (74px per appointment slot x 2) + (12px padding x 2) */
  padding: 0;
}

td.day_column:first-of-type > table {
  margin-left: 95px;
  width: max-content;
}

/* each day cell */
td.appointment_cell {
  padding: 6px 12px;
}

/* floating time column */
td.time_column {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
  background-color: #fafafa;
  z-index: 1;
  position: absolute;
}

/* move first column away from floating time column */
td.day_column:nth-child(2) > table {
  margin-left: 72px;
  width: max-content;
}

/* needed for focus line when clicking on mat-chip*/
mat-chip-list:focus {
  outline: none;
}

mat-chip-list ::ng-deep div {
  margin: 10px 0;
}

/* needed for the chips */
.left_taken {
  background-color: #D1B854;
}

.right_taken {
  background-color: #5C9E93;
}

.left_taken_dryer1 {
  background-color: #D5C67A;
}

.right_taken_dryer2 {
  background-color: #5B8699;
}
