<div class="settings_card mat-elevation-z4">
  <div class="title">
    <h2>Delete account</h2>
  </div>
  <form [formGroup]="deleteAccountForm"
        (ngSubmit)="deleteAccount()">
    <div class="messages">
      <mat-form-field>
        <input matInput
               placeholder="Current password"
               type="password"
               name="currentPassword"
               formControlName="currentPassword"/>

      </mat-form-field>
    </div>
    <div class="action">
      <button mat-raised-button
              color="primary"
              type="submit">Update
      </button>
    </div>
  </form>
</div>
