<div class="settings_card mat-elevation-z4">
  <div class="title">
    <h2>Change password</h2>
  </div>
  <form [formGroup]="changePasswordForm"
        (ngSubmit)="changePassword()">
    <div class="messages">
      <mat-form-field>
        <input matInput
               placeholder="New password"
               name="newPassword"
               type="password"
               formControlName="newPassword"/>
      </mat-form-field>
    </div>
    <div class="action">
      <button mat-raised-button
              color="primary"
              type="submit">Update
      </button>
    </div>
  </form>
</div>
