<div class="settings_card mat-elevation-z4">
  <div class="title">
    <h2>Change password</h2>
  </div>
  <form [formGroup]="changePasswordForm"
        (ngSubmit)="changePassword()">
    <div class="messages">
      <mat-form-field>
        <input matInput
               placeholder="New password"
               type="password"
               formControlName="newPassword"/>
        <mat-error *ngIf="newPassword.errors?.required">
          Password required.
        </mat-error>
        <mat-error *ngIf="newPassword.errors?.minlength">
          Password needs to be at least 6 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Confirm Password"
               formControlName="confirmPassword"
               type="password"
               [errorStateMatcher]="errorStateMatcher">
        <mat-error *ngIf="changePasswordForm.hasError('identical') && confirmPassword.touched">
          Passwords need to match.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="action">
      <button mat-raised-button
              color="primary"
              type="submit">Update
      </button>
    </div>
  </form>
</div>
