div {
  color: #2c3e50;
}

main {
  margin: 0 15px 25px 15px;
}

div.title {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.03);
}

div.title > h2 {
  margin: 0;
}

div.action {
  padding: 0 25px 30px;
}

div.action > button {
  width: 100%;
}
