<main>
  <div class="mat-elevation-z4">
    <div class="title">
      <h2>Notifications board</h2>
    </div>
    <div *ngIf="!isCreateButtonClicked">
      <app-messages></app-messages>
      <div class="action">
        <button mat-raised-button
                color="primary"
                (click)="toggleBetweenMessagesAndEditor()">Create
        </button>
      </div>
    </div>
    <div *ngIf="isCreateButtonClicked">
      <app-editor (goBackEmitter)="toggleBetweenMessagesAndEditor()"></app-editor>
    </div>
  </div>
</main>
