<main>
  <header class="mat-elevation-z6">
    <mat-toolbar ngClass.lt-sm="toolbar_sm" color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img ngClass.lt-sm="parkhaven_img_sm" ngClass.gt-xs="parkhaven_img"
           src="./../../assets/parkhaven-logo.png"/>
      <a fxHide.lt-md routerLink="/"><span>Wasschema</span></a>
      <span fxHide.lt-sm class="fill-remaining-space"></span>
      <span fxHide.lt-sm id="logged_in_as_text">Logged in as: {{loggedInUser.email}}</span>
      <button fxHide.lt-sm mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
  </header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 [opened]="sideNavOpened"
                 [mode]="sideNavMode"
                  class="mat_sidenav">
      <nav class="sidenav">
        <mat-list>
          <mat-list-item>
            <a routerLinkActive #rla="routerLinkActive"
               routerLink="/"
               [class.active_link]="schemaRouterLinkActive"
               (click)="closeSideNav()">Schema</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a routerLinkActive="active_link"
               routerLink="/settings"
               (click)="closeSideNav()">Settings</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a routerLinkActive="active_link"
               routerLink="/notification-board"
               (click)="closeSideNav(); isNewNotificationAvailable = false">
              Notifications Board
              <mat-icon *ngIf="isNewNotificationAvailable"
                        id="notification">priority_high
              </mat-icon>
            </a>
          </mat-list-item>
          <div *ngIf="userData && userData.admin">
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLinkActive="active_link"
                 routerLink="/admin"
                 (click)="closeSideNav()">
                Admin</a>
            </mat-list-item>
          </div>
          <div fxHide.gt-xs>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLinkActive="active_link"
                 (click)="logout()">
                Logout
              </a>
            </mat-list-item>
          </div>
        </mat-list>
      </nav>
      <div fxHide.gt-xs>
        <span class="logged_in_as_text_sm">Logged in as: {{loggedInUser.email}}</span>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="router_outlet_margin_top">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
