<main>
  <header class="mat-elevation-z6">
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/"><span>Was Schema</span></a>
      <span class="fill-remaining-space"></span>
      <span id="logged_in_as_text">Logged in as: yosh.nahar@gmail.com</span>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
  </header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 [opened]="sideNavOpened"
                 [mode]="sideNavMode"
                 class="sidenav_style">
      <nav>
        <mat-list>
          <mat-list-item>
            <a routerLinkActive="active_link"
               [routerLinkActiveOptions]="{exact: true}"
               routerLink="/"
               (click)="closeSideNav()">Schema</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a routerLinkActive="active_link"
               routerLink="/settings"
               (click)="closeSideNav()">Settings</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a routerLinkActive="active_link"
               routerLink="/notification-board"
               (click)="closeSideNav()">
              Notifications Board
              <mat-icon id="notification">priority_high</mat-icon>
            </a>
          </mat-list-item>
          <div *ngIf="user && user.admin">
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLinkActive="active_link"
                 routerLink="/admin"
                 (click)="closeSideNav()">
                Admin</a>
            </mat-list-item>
          </div>
        </mat-list>
      </nav>
    </mat-sidenav>

    <div class="router_outlet_margin_top">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</main>
