main {
  background-color: #fafafa;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

/* header */

header {
  position: relative;
  z-index: 2;
}

header a {
  text-decoration-line: none;
  margin-left: 16px;
}

header span {
  color: #fafafa;
}

mat-toolbar > .fill-remaining-space {
  /* push to the right */
  flex: 1 1 auto;
}

span#logged_in_as_text {
  font-size: 14px;
  margin-right: 10px;
}

/* side navigation */

.mat_sidenav {
  width: 325px;
  /* need to ng::deep this, color is not trickling down to child element */
  background-color: #fafafa;
}

.sidenav {
  margin: 25px 15px;
  padding: 10px 25px 15px;
  background: #f2f2f2;
}

mat-list-item a {
  font-weight: 700;
  color: rgba(0, 0, 0, .55);
  text-decoration-line: none;
  /* makes the link clickable from further away than the text */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* There is a 1px border at the side-nav */
.mat-drawer-side {
  border-right: none;
}

/* otherwise yellow border on mobile */
mat-list-item a:focus {
  outline: none;
}

mat-list-item a:hover {
  color: #3f51b5;
}

.active_link {
  color: #3f51b5 !important;
}

.material-icons#notification {
  color: rgba(255, 0, 0, 0.9);
  font-size: 18px;
  margin-top: 4px;
}

/* other */

.router_outlet_margin_top {
  margin-top: 24px;
}

/* media query classes done with ng flex */
.parkhaven_img_sm {
  height: 55px;
  margin-right: 16px;
}

.parkhaven_img {
  height: 55px;
  margin: 0 16px;
}

.toolbar_sm {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.logged_in_as_text_sm {
  margin: 0 34px;
  padding: 0 22px;
  position: absolute;
  bottom: 6px;
}

/* media queries */

.router_outlet_margin_top {
  margin: 24px 6px 0;
}

@media (max-width: 610px) {

  span#logged_in_as_text {
    order: 4;
    align-self: flex-end;
    margin: -30px 20px 0 auto;
  }

}
