<main>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <a routerLink="/login">
        <img id="logo"
             mat-card-image
             src="../../../assets/parkhaven-logo.png"
             alt="Logo">
      </a>
    </mat-card-header>

    <form [formGroup]="forgotPasswordForm"
          (ngSubmit)="resetPassword();">
      <mat-card-content>
        <mat-form-field>
          <input matInput
                 placeholder="Email"
                 name="email"
                 type="email"
                 formControlName="email"/>
        </mat-form-field>
      </mat-card-content>

      <div id="action">
        <button mat-raised-button
                color="primary"
                type="submit">Send email
        </button>
      </div>

      <div id="card_footer">
        <a class="action_link"
           routerLink="/login">Login</a>
      </div>
    </form>
  </mat-card>
</main>
