<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="warn">
	<Appenders>
		<RollingFile name="ToFile" fileName="logs/log4j2.server_out.log" filePattern="logs/-%d{dd-MM-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="ToFile" />
		</Root>
	</Loggers>
</Configuration>
