
div.messages {
  padding: 20px 25px 5px;
}

mat-divider.mat_margins {
  margin: 15px 0;
}

/* message title */

.message > .message_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.message > .message_title > h3 {
  margin: 0;
  height: 40px;
}

div.message_content {
  /* /n will turn into a <br> */
  white-space: pre-line;
}

p.message_meta {
  font-size: 12px;
}

