<div class="messages">
  <div class="message" *ngFor="let pendingMessage of pendingMessages">
    <div class="message_title">
      <h3>{{pendingMessage.title}} | NEEDS TO BE ACCEPTED</h3>
      <div class="icon_actions">
        <button mat-icon-button
                (click)="acceptMessage(pendingMessage)">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button
                (click)="removeMessage(pendingMessage)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="message_content">{{pendingMessage.content}}</div>
    <p class="message_meta">{{pendingMessage.created | date:'dd-MM-yyyy | hh:mm'}}</p>
    <mat-divider class="mat_margins"></mat-divider>
  </div>
  <div class="message" *ngFor="let message of messages">
    <div class="message_title">
      <h3>{{message.title}}</h3>
      <div class="icon_actions">
        <button mat-icon-button
                *ngIf="userData && (message.houseNumber === currentUser.displayName || userData.admin)"
                (click)="removeMessage(message)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="message_content">{{message.content}}</div>
    <p class="message_meta">{{message.activated | date:'dd-MM-yyyy | hh:mm'}}</p>
    <mat-divider class="mat_margins"></mat-divider>
  </div>
</div>
