<h1>Week 11 - Sunday 18 March 2018</h1>

<mat-tab-group class="demo-tab-group">
  <mat-tab label="Room A">
    <app-table [room]="'A'"
               [machine]="['A1', 'A2']"
               [machineType]="'Laundrymachine'"></app-table>
    <app-table [room]="'A'"
               [machine]="['A3', 'A4']"
               [machineType]="'Dryer'"></app-table>
  </mat-tab>
  <mat-tab label="Room B">
    <app-table [room]="'B'"
               [machine]="['B1', 'B2']"
               [machineType]="'Laundrymachine'"></app-table>
    <app-table [room]="'B'"
               [machine]="['B3', 'B4']"
               [machineType]="'Dryer'"></app-table>
  </mat-tab>
  <mat-tab label="Room C">
    <app-table [room]="'C'"
               [machine]="['C1', 'C2']"
               [machineType]="'Laundrymachine'"></app-table>
    <app-table [room]="'C'"
               [machine]="['C3', 'C4']"
               [machineType]="'Dryer'"></app-table>
  </mat-tab>
</mat-tab-group>
